<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>
<b>Objectives:</b>
<ul>
  <li>Python</li>
  <li> R</li>
  <li>SQL</li>
  <li>Scala</li>
  <li>Java</li>
   <li>C++</li>
  <li>JuliaL</li>
</ul>

<br>Some of the popular languages that Data Scientists use are:</br>
<ol>
<li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Scala</li>
    <li>Java</li>
    <li>C++</li>
    <li>Java</li>
</ol>

<br>Some of the commonly used libraries used by Data Scientists include:</br>
<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>SciPy</li>
    <li>Matplotlib</li>
    <li>Seaborn</li>
    <li>TensorFlow</li>
</ol>

<tr>
<th>Data Science Tools</th>
</tr>
<tr>
<td>jupyter Notebook</td>
</tr>
<tr>
<td>RStudio</td>
</tr>
<tr>
<td>Apache Zeppelin</td>
</tr>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [10]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [11]:
# Create time as a string
time = "{}{}{}{}".format(200//60,'h', 200 % 60,'mn')
print(time)
#This will convert 200 minutes to hours by diving by 60.

3h20mn

## Author

<p>Claudy Paugy